.services {
  .list {
    font-size: 0;
  }
  .item {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    font-size: 15px;
    color: #031236;
    text-align: center;
    height: 474px;
    overflow: hidden;
    border-right: 1px solid #ebecef;
    &:last-child {
      border-right: none;
    }
  }
  .title {
    font-size: 24px;
    line-height: 26px;
  }
  .sub-title {
    font-size: 18px;
    padding: 30px 0;
    position: relative;
    margin-bottom: 65px;
    &:after {
      position: absolute;
      content: '';
      width: 50px;
      height: 1px;
      overflow: hidden;
      bottom: 0;
      left: 50%;
      margin-left: -25px;
      background: #031236;
    }
  }
  .icon-wrap {
    margin-bottom: 40px;
  }
  .icon {
    display: inline-block;
    width: 118px;
    height: 118px;
    background-repeat: no-repeat;
  }
  .icon-camera {
    background-image: url(../images/icon-prod-1.png);
  }
  .icon-light {
    background-image: url(../images/icon-prod-2.png);
  }
  .icon-lease {
    background-image: url(../images/icon-prod-3.png);
  }
  .icon-media {
    background-image: url(../images/icon-prod-4.png);
  }
  .intro {
    line-height: 26px;
    padding: 0 30px;
    word-break: break-all;
  }
}

.products {
  .item {
    position: relative;
    height: 400px;
    overflow: hidden;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
    .pic {
      position: absolute;
      top: 0;
      width: 590px;
      height: 100%;
      overflow: hidden;
      img,
      video {
        width: 100%;
        height: 100%;
      }
    }
    .intro {
      width: 590px;
      padding: 45px 50px 0 50px;
      height: 100%;
      background-color: #0a58b1;
      color: #fff;
      overflow: hidden;
      position: relative;
      a {
        color: #fff;
      }
      h3 {
        font-size: 24px;
      }
      .text {
        font-size: 14px;
        line-height: 2;
        margin-top: 35px;
        height: 170px;
        overflow: hidden;
        p {
          margin-bottom: 26px;
        }
      }
      .more {
        font-size: 16px;
        position: absolute;
        left: 50px;
        bottom: 45px;
        span {
          display: inline-block;
          width: 26px;
          height: 5px;
          overflow: hidden;
          background: url(../images/more.png) no-repeat;
          vertical-align: top;
          margin: 10px 0 0 24px;
        }
      }
    }
  }
  .item1,
  .item3 {
    .pic {
      right: 0;
    }
  }
  .item2,
  .item4 {
    .intro {
      margin-left: 610px;
    }
    .pic {
      left: 0;
    }
  }
}

.products-content {
  background-color: #001227;
  .layout {
    padding: 40px 0;
  }
}

.coop {
  margin-bottom: 98px;
  .list {
    font-size: 0;
    padding-left: 2px;
    padding-top: 2px;
    li {
      display: inline-block;
      vertical-align: top;
      width: 300px;
      height: 111px;
      overflow: hidden;
      border: 2px solid #ebedee;
      margin-top: -2px;
      margin-left: -2px;
    }
  }
}
